.App_AnimeSeason
	display: flex
	flex-direction: column
	min-width: 1300px
	margin-top: 20px

.AnimeSeason-Header
	display: flex
	justify-content: center
	align-items: center
	width: 1300px
	padding: 13px 1px
	background-color: #1a1a1a
	border-bottom: 3px solid #ff6666
	border-radius: 6px 6px 0 0
	color: white

.AnimeSeason-List
	display: flex
	min-width: 1300px
